.debug {
  background-color: green;
  border: 1px solid black;
}

header {
  height: 90px;
  background-color: #2C3E50;
  color: white;
}

li a {
  color: white;
}

.jumbotron-t {
  background-color: #55BD9C;
}

#about {
  background-color: #19BC9C;
  color: white;
}

footer {
  color: white;
  background-color: #3A546D;
}

.copyright {
  background-color: #2C3E50;
}