.debug {
  background-color: green;
  border: 1px solid black;
}

/* Header  */
header {
  height: 90px;
  background-color: #2C3E50;
  color: white;
}

li a {
  color: white;
}

button-tb {
  background-color: #2C3E50;
  border: 1px solid white;
  border-radius: 3px;
}

button-tb i {
  color: grey;
}

button-tb:hover i {
  color: white;
}

/* Jumbotron  */
.jumbotron-t {
  background-color: #55BD9C;
  color: white;
}

.jumbotron-t img {
  width: 250px;
}

/* About  */
#about {
  background-color: #19BC9C;
  color: white;
}

.container-tb {
  width: 60%;
  margin: 0 auto;
}

/* Footer  */
footer {
  color: white;
  background-color: #3A546D;
}

.copyright {
  background-color: #2C3E50;
  height: 110px;
}



