.debug {
  background-color: green;
  border: 1px solid black;
}

/* Header  */
header {
  height: 90px;
  background-color: #2C3E50;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}

li a {
  color: white;
}

button-tb {
  background-color: #2C3E50;
  border: 1px solid white;
  border-radius: 3px;
}

button-tb i {
  color: grey;
}

button-tb:hover i {
  color: white;
}

/* Jumbotron  */
.jumbotron-t {
  padding-top: 100px;
  background-color: #55BD9C;
  color: white;
}

.jumbotron-t img {
  width: 250px;
}

.line {
  height: 3px;
  line-height: 10px;
  background-color: white;
  border-radius: 2px;
}

.star i {
  font-size: 25px;
}

/* Portfolio  */
.b {
  background-color: black;
}

#portfolio img {
  width: 100%;
  border-radius: 10px;
}

#portfolio .col {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#portfolio .container-t i {
  font-size: 70px;
  position: absolute;
  display: none;
  color: white;
}

#portfolio .container-t .col:hover {
  filter:contrast(50%);
}

#portfolio .container-t .col:hover i {
  display: block;
}

/* About  */
#about {
  background-color: #19BC9C;
  color: white;
}

.container-tb {
  width: 60%;
  margin: 0 auto;
}

/* Contact Me  */
.input-tb::placeholder {
  color: black;
}

.input-tb {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

/* Footer  */
footer {
  color: white;
  background-color: #3A546D;
}

.copyright {
  background-color: #2C3E50;
  height: 110px;
}

.social {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px 0;
  margin: 0 6px;
}

.social a {
  color: white;
}

footer p a {
  color: #14C4A0;
  text-decoration: none;
}

footer p a:hover {
  color: red;
}
